body {
    font-family: $font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-primary-headers;
    text-transform: uppercase;
    color: $font-color;
    line-height: 1.2;
}

h1 {
    font-size: 24px;

    @media #{$medium-up} {
        font-size: 32px;
    }

    @media #{$large-up} {
        font-size: 48px;
    }
}

h2,
h3 {
    font-size: 18px;

    @media #{$medium-up} {
        font-size: 20px;
    }

    @media #{$large-up} {
        font-size: 24px;
    }
}

h3
h4,
h5 {
    font-family: $font-family-secondary-headers;
}

ul,
ol,
li,
p {
    color: $font-color;
    font-weight: 300;
}
