$global-font-size: 100% !default;

@function lower-bound($range) {
    @if length($range) <= 0 {
        @return 0;
    }
    @return nth($range, 1);
}

@function upper-bound($range) {
    @if length($range) < 2 {
        @return 999999999999;
    }
    @return nth($range, 2);
}

@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@function em-calc($value){
    $base: ($global-font-size / 100%) * 16px;
    @return ($value / strip-unit($base)) * 1em;
}
