// ----------------------------------------
// Gutters
// -----------------------------------------
$distance: 40px;
$gutter: 40px;

// ----------------------------------------
// Media queries
// -----------------------------------------

$small-breakpoint:  em-calc(768);
$medium-breakpoint: em-calc(1024);
$large-breakpoint:  em-calc(1240);
$xlarge-breakpoint: em-calc(1920);

$small-range:   (0, $small-breakpoint);
$medium-range:  ($small-breakpoint, $medium-breakpoint);
$large-range:   ($medium-breakpoint, $large-breakpoint);
$xlarge-range:  ($large-breakpoint, $xlarge-breakpoint);
$xxlarge-range: ($xlarge-breakpoint, em-calc(99999999));

$screen: "only screen";

$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$small-up: $screen;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})";

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})";
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";

$retina: (
    "#{$screen} and (-webkit-min-device-pixel-ratio: 2)",
    "#{$screen} and (min--moz-device-pixel-ratio: 2)",
    "#{$screen} and (-o-min-device-pixel-ratio: 2/1)",
    "#{$screen} and (min-device-pixel-ratio: 2)",
    "#{$screen} and (min-resolution: 192dpi)",
    "#{$screen} and (min-resolution: 2dppx)"
);

// ----------------------------------------
// Colors
// ----------------------------------------

$white: #fff;
$black: #000;
$denim: #1384c6;
$orange: #ff7121;

// ----------------------------------------
// Typography
// ----------------------------------------

$default-line-height: 1.6;
$font-color: $white;
$font-family: Hind, sans-serif;
$font-family-primary-headers: 'Signika Negative', sans-serif;
$font-family-secondary-headers: Hind, sans-serif;
