@@include('./includes/header.html', {
    "bodyclass": ""
})

<header class="main-header" style="background-image: url(img/photo1.jpg);">
    @@include('./includes/navigation.html', {
        "active": "-active"
    })
    <div class="page-wrapper">
        <div class="the-box">
            <h1 class="title">Container branding</h1>
            <p class="text">Uw container voor meer gebruiken dan alleen opslag!</p>
        </div>
    </div>
</header>

<main>

    <div class="content-box">
        <div class="page-wrapper">
            <article class="content-row">
                <div class="content-col">
                    <header>
                        <div class="vsl"><img src="img/event.png" alt="" /></div>
                        <h2 class="title">Bekendheid over meerdere regels</h2>
                    </header>
                    <p>Mauris ornare neque at urna venenatis tristique. Phasellus tempor blandit mollis. n libero. Etiam odio velit, blandit eget efficitur et, tas sit amet purus. In molestie nulla necem, commctor nibh id</p>
                    <p>Mauris ornare neque at urna venenatis tristique. Mauris ornare at urna venenatis tristique. Phasellus tempor blandit mollis.</p>
                    <a href="#" class="btn">Prijs berekenen</a>
                </div>
                <div class="content-col">
                    <img src="img/content4.jpg" alt="" />
                </div>
            </article>
        </div>
    </div>

    <div class="content-box">
        <div class="page-wrapper">
            <article class="content-row">
                <div class="content-col">
                    <header>
                        <div class="vsl"><img src="img/event.png" alt="" /></div>
                        <h2 class="title">Bekendheid over meerdere regels</h2>
                    </header>
                    <p>Mauris ornare neque at urna venenatis tristique. Phasellus tempor blandit mollis. n libero. Etiam odio velit, blandit eget efficitur et, tas sit amet purus. In molestie nulla necem, commctor nibh id</p>
                    <p>Mauris ornare neque at urna venenatis tristique. Mauris ornare at urna venenatis tristique. Phasellus tempor blandit mollis.</p>
                    <a href="#" class="btn">Prijs berekenen</a>
                </div>
                <div class="content-col">
                    <img src="img/content4.jpg" alt="" />
                </div>
            </article>
        </div>
    </div>

    <div class="content-box">
        <div class="page-wrapper">
            <article class="content-row">
                <div class="content-col">
                    <header>
                        <div class="vsl"><img src="img/event.png" alt="" /></div>
                        <h2 class="title">Bekendheid over meerdere regels</h2>
                    </header>
                    <p>Mauris ornare neque at urna venenatis tristique. Phasellus tempor blandit mollis. n libero. Etiam odio velit, blandit eget efficitur et, tas sit amet purus. In molestie nulla necem, commctor nibh id</p>
                    <p>Mauris ornare neque at urna venenatis tristique. Mauris ornare at urna venenatis tristique. Phasellus tempor blandit mollis.</p>
                    <a href="#" class="btn">Prijs berekenen</a>
                </div>
                <div class="content-col">
                    <img src="img/content4.jpg" alt="" />
                </div>
            </article>
        </div>
    </div>

    <div class="quote-box" style="background-image: url(img/photo1.jpg);">
        <div class="page-wrapper">
            <blockquote>“Hier een pakkende quote over de containers.”</blockquote>
        </div>
    </div>

    <div class="content-box">
        <div class="page-wrapper">
            <div class="content-row">
                <article class="content-col">
                    <h3 class="title">Heeft u interesse?</h3>
                    <p>Mauris ornare neque at urna venenatis tristique. Phasellus tempor blandit mollis. n libero. Etiam odio velit, blandit eget efficitur et,</p>
                    <p>tempor erat finibus. tiam odio velit, blandit eget efficitur et, Mauris ornare neque at urna venenatis tristique. Mauris ornare at urna venenatis tristique. Phasellus tempor blandit mollis.</p>
                    <a href="#" class="btn">Prijs berekenen</a>
                </article>
                <section class="content-col">
                    <form method="post" action="#">
                        <h3 class="title">Laat u terug bellen</h3>
                        <p>Vul uw naam en uw telefoonnummer in  en wij zullen u zo spoeding mogelijk terugbellen.</p>
                        <input type="text" name="name" placeholder="Uw naam" />
                        <input type="tel" name="telephone" placeholder="Uw telefoonnummer" class="-hasError" />
                        <button type="submit" class="btn">Bel mij terug</button>
                    </form>
                </section>
            </div>
        </div>
    </div>

</main>

@@include('./includes/footer.html')
