.quote-box {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($denim, .9);
    }

    &.-variation {
        &:after {
            background-color: rgba($orange, .9);
        }
    }
}

blockquote {
    box-sizing: border-box;
    display: block;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: $distance/2 0;
    font-family: $font-family-primary-headers;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;

    @media #{$medium-up} {
        max-width: 70%;
        padding: $distance 0;
        font-size: 38px;
    }

    @media #{$large-up} {
        padding: $distance*2 0;
    }

    @media #{$xlarge-up} {
        padding: $distance*3 0;
        font-size: 56px;
    }
}
