.the-box {
    @include clear;
    box-sizing: border-box;
    padding: $distance/2;
    background-color: rgba($orange, .9);
    color: #fff;

    @media #{$medium-up} {
        padding: $distance;
    }

    .title {
        margin: 0 0 $distance/4;
    }

    .text {
        line-height: 1.2;
    }

    .btn {
        margin-top: $distance/2;

        @media #{$medium-up} {
            margin-top: $distance/2;
        }
    }
}
