.btn,
.button {
    display: inline-block;
    padding: 0 15px;
    background-color: $denim;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: inherit;
    font-weight: bold;
    appearance: none;
    text-shadow: 2px 2px 2px rgba($black, .15);
    color: $white;
    line-height: 45px;
    height: 45px;
    white-space: nowrap;

    @media #{$large-up} {
        font-size: 20px;
        line-height: 53px;
        height: 53px;
    }

    &:hover {
        background-color: darken($denim, 8%);
    }

    &.-transparent {
        background-color: transparent;

        &:hover {
            // background-color: $white;
            color: $black;

            &:before {
                @include icon-arrow-right($black);
            }
        }
    }

    &.-nopadding {
        height: auto;
        padding: 0;
        line-height: inherit;
    }

    &:before {
        @include icon;
        @include icon-arrow-right;
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 22px;
        height: 18px;
        margin: -2px 10px 0 0;
    }

    > span {
        display: inline-block;
        vertical-align: middle;
    }
}
