.content-box {

    & + &:nth-child(even) {
        background-color: $orange;

        .content-col:last-child {
            order: -1;
        }
    }
}

.content-row {
    padding: $distance 0;

    @media #{$medium-up} {
        padding-top: $distance;
        padding-bottom: $distance;
    }

    @media #{$medium-up} {
        display: flex;
        margin: 0 (-$gutter);
        padding: $distance*2 0;
    }

    @media #{$xlarge-up} {
        padding: $distance*3 0;
    }

    > * {

        @media #{$medium-up} {
            flex: 1;
            padding: 0 $gutter;
            overflow: hidden;
        }

        & + * {
            margin-top: $distance;

            @media #{$medium-up} {
                margin-top: 0;
            }
        }
    }
}

.content-col {
    color: #fff;

    > header {
        display: flex;
        align-items: center;
        margin: 0 0 $distance/2;

        .title {
            flex: 1 1 auto;
            margin: 0;
        }

        .vsl {
            max-width: 60px;
            box-sizing: border-box;
            flex: 0 0 auto;
            padding-right: $gutter/2;

            @media #{$large-up} {
                max-width: 100px;
            }
        }
    }

    .title {
        margin: 0 0 $distance/2;
    }

    p {
        margin-bottom: $distance/1.5;
    }

    .btn {

        &.-transparent {
            color: $denim;

            &:before {
                @include icon-arrow-right($denim);
            }

            &:hover {
                color: darken($denim, 10%);

                &:before {
                    @include icon-arrow-right(darken($denim, 10%));
                }
            }
        }
    }
}
