form {

    .title {
        margin-bottom: $distance/2;
    }

    input {
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 48px;
        padding: 0 10px;
        margin-bottom: 20px;
        font-size: inherit;

        @media #{$medium-up} {
            height: 58px;
        }

        &.-hasError {
            border: 2px solid red;
        }
    }

    p {
        margin-bottom: $distance/2;

        @media #{$medium-up} {
            margin-bottom: $distance;
        }
    }

    .btn {
        margin-top: 0;
        color: #fff;
    }
}
