 // this checkbox needs to be a html sibling of the nav <ol>
#nav-control {
	position: absolute;
	display: none;

	& ~ ol {
		display: none;

        @media #{$large-up} {
			display: block;
		}
	}

	&:checked ~ ol {
		display: block;
        margin-bottom: $distance/2;

        @media #{$large-up} {
            margin-bottom: 0;
        }
	}
}

label[for="nav-control"] {
    @include icon-hamburger($black);
    @include hide-text;
    float: right;
    width: 29px;
    height: 29px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: $white;
    line-height: 53px;

    @media #{$large-up} {
        display: none;
    }
}

.main-nav {
    @include clear;
    margin-top: 0;
    margin-bottom: 0;
    padding: $distance/2 0;
    background-color: $white;

    .home-page & {
        margin-top: $distance/2;
        padding: 0;
        background-color: transparent;

        @media #{$medium-up} {
            margin-top: $distance;
            margin-bottom: (-$distance);
        }

        @media #{$large-up} {
            margin-bottom: (-$distance);
        }

        @media #{$xlarge-up} {
            margin-bottom: (-$distance)*2;
        }
    }

    ol {
        background-color: $white;
        color: $black;

        @media #{$large-up} {
            float: right;
            margin: 0;
            padding: 0;
            background-color: transparent;
        }

        .home-page & {
            margin: (-$distance/2) (-$distance/2) 0;
            padding: $distance/2;

            @media #{$medium-up} {
                margin: (-$distance) (-$distance) 0;
                padding: $distance/2 $distance;
            }

            @media #{$large-up} {
                margin: 0;
                padding: 0;
            }
        }
    }

    li {
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: 2px 2px 2px rgba($black, .15);
        color: $black;

        @media #{$large-up} {
            float: left;
            line-height: 53px;
        }

        .home-page & {

            @media #{$large-up} {
                color: $white;
            }
        }

        &:hover {

            @media #{$large-up} {
                color: $orange;
            }
        }

        &.-active {
            color: $orange;

            a {
                text-decoration: underline;

                @media #{$large-up} {
                    text-decoration: none;
                    border-bottom: 3px solid $orange;
                }
            }
        }

        &.-calculate {

            .home-page & {
                display: none;
            }

            .text {
                @media #{$xlarge-up} {
                    display: none;
                }
            }

            .btn {
                display: none;

                @media #{$xlarge-up} {
                    display: block;
                }
            }
        }

        & + li {
            @media #{$large-up} {
                margin-left: $gutter/2;
            }
        }
    }

    .logo {
        @include hide-text;
        display: block;
        float: left;
        width: (166px/2);
        height: (53px/2);
        background-image: url(../img/logo-on-white.png);
        background-repeat: no-repeat;
        background-size: 100%;

        .home-page & {
            background-image: url(../img/logo.png);
        }

        @media #{$large-up} {
            width: 166px;
            height: 53px;
        }
    }
}
