.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;

    [dir="rtl"] & {
        float: right;
    }

    img {
        display: block;
    }

    &.slick-loading img {
        display: none;
    }

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

.slider-box {

    .page-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 200px;

        @media #{$medium-up} {
            height: 350px;
        }

        @media #{$large-up} {
            height: 650px;
        }
    }

    .the-box {
        margin: 0 $gutter;
        flex: 0 1 auto;

        @media #{$large-up} {
            width: 50%;
            margin-left: $gutter*2;
        }
    }
}

.slick-prev,
.slick-next {
    @include icon;
    @include hide-text;
    transform: translateY(-50%);
    z-index: 1;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color: $black;
    background-size: 50%;
    cursor: pointer;

    @media #{$medium-up} {
        width: 60px;
        height: 60px;
    }
}

.slick-prev {
    @include icon-arrow-left;
    left: 0;
}

.slick-next {
    right: 0;
    @include icon-arrow-right;
}

.slick-dots {
    display: none;
    z-index: 1;
    position: absolute;
    bottom: 20px;
    left: 0;
    width:100%;
    line-height: 0;
    text-align: center;

    @media #{$medium-up} {
        display: block;
    }

    ol {
        text-align: center;
    }

    li {
        display: inline-block;
        @include hide-text;
        width: 10px;
        height: 10px;
        background-color: rgba($white, .5);
        cursor: pointer;

        &.slick-active {
            background-color: $white;
        }

        & + li {
            margin-left: 10px;
        }

        button {
            @include hide-text;
        }
    }
}
