<footer>
    <div class="main-footer"  style="background-image: url(img/photo1.jpg);">
        <div class="page-wrapper">
            <section class="section">
                <h3 class="title">Ticketingbox</h3>
                <ol>
                    <li><a href="#">Algemene voorwaarden</a></li>
                    <li><a href="#">Vacatures</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li class="seperate"><a href="#">Diensten</a></li>
                    <li><a href="#">Direct reserveren</a></li>
                </ol>
            </section>
            <section class="section">
                <h3 class="title">Ga direct naar</h3>
                <ol>
                    <li><a href="#">Over ons</a></li>
                    <li><a href="#">Mogelijkheden</a></li>
                    <li><a href="#">Voorbeelden</a></li>
                    <li><a href="#">Contact</a></li>
                </ol>
            </section>
            <section class="section">
                <h3 class="title">Contactgegevens</h3>
                <p>Ticketingbox BV<br />Graanweg 9 / M238<br />4782 PP Moerdijk - Holland</p>
                <p class="seperate">Mobile: +31(0)6 29 585 467<br />Phone: +31 (0) 88 0204 800<br />Mail: <a href="mailto:sales@ticketingbox.com">sales@ticketingbox.com</a></p>
            </section>
            <section class="section">
                <h3 class="title">Social Media</h3>
                <ul class="social-networks">
                    <li>
                        <a href="#" title="Facebook" class="icon -facebook">Facebook</a>
                    </li>
                    <li>
                        <a href="#" title="Google+" class="icon -googleplus">Google+</a>
                    </li>
                    <li>
                        <a href="#" title="Linkedin" class="icon -linkedin">Linkedin</a>
                    </li>
                    <li>
                        <a href="#" title="Twitter" class="icon -twitter">Twitter</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
    <div class="copyright-footer">
        <div class="page-wrapper">
            <section class="section">
                <a href="#" class="logo">TTBU - TICKING THEBOX</a>
                <span class="copyright-text">&copy; 2015 - Tickingthebox</span>
            </section>
        </div>
    </div>
</footer>

<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/main.js"></script>

<script>
    WebFontConfig = {
        google: {
            families: [
                'Signika+Negative:700:latin',
                'Hind:700,600,300,500,400:latin'
            ]
        }
    };

    (function(d) {
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
        s.parentNode.insertBefore(wf, s);
    })(document);
</script>
</body>
</html>
