<nav class="main-nav">
    <div class="page-wrapper">
        <input type="checkbox" id="nav-control" />
        <ol>
            <li><a href="#">Over ons</a></li>
            <li class="@@active"><a href="#">Mogelijkheden</a></li>
            <li><a href="#">Voorbeelden</a></li>
            <li><a href="#">Contact</a></li>
            <li class="-calculate">
                <a href="#">
                    <span class="text">Prijs berekenen</span>
                    <span class="btn">Prijs berekenen</span>
                </a>
            </li>
        </ol>
        <a href="#" class="logo">TTBU - TICKING THEBOX</a>
        <label for="nav-control">MENU</label>
    </div>
</nav>
