.main-footer {
    position: relative;
    padding: $distance/2 0;
    color: $white;

    @media #{$medium-up} {
        padding: $distance 0;
    }

    @media #{$large-up} {
        padding: $distance*2 0;
    }

    @media #{$xlarge-up} {
        padding: $distance*3 0;
    }

    &:after {
        z-index: 1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($orange, .9);
    }

    > .page-wrapper {
        position: relative;
        z-index: 2;

        @media #{$medium-up} {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .section {

        @media #{$medium-up} {
            flex: 1;
            flex-basis: 50%;
        }

        @media #{$large-up} {
            flex-basis: 25%;
        }

        & + .section {
            margin-top: $distance/2;

            &:nth-child(-n+2) {

                @media #{$medium-up} {
                    margin-top: 0;
                }
            }

            @media #{$large-up} {
                margin-top: 0;
            }
        }

        .title {
            margin: 0 0 $distance/2;
        }

        li a:hover {
            text-decoration: underline;
        }
    }

    .seperate {

        @media #{$medium-up} {
            margin-top: 20px;
        }
    }
}

.social-networks {

    li {
        @include hide-text;
        display: inline-block;
        vertical-align: middle;

        & + li {
            margin-left: 15px;
        }
    }

    .icon {
        @include icon;
        display: block;
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        padding: 8px;
        fill: currentColor;
        background-size: 60%;

        &.-facebook {
            @include icon-facebook;
            background-color: #3B5998;
        }

        &.-linkedin {
            @include icon-linkedin;
            background-color: #0077B5;
        }

        &.-googleplus {
            @include icon-googleplus;
            background-color: #DC4E41;
        }

        &.-twitter {
            @include icon-twitter;
            background-color: #55ACEE;
        }
    }
}

.copyright-footer {
    padding: $distance/3 0;
    background-color: $white;
    color: rgba($black, .2);

    @media #{$medium-up} {
        padding: $distance/2 0;
    }

    .logo {
        @include hide-text;
        display: inline-block;
        vertical-align: middle;
        width: 100px;
        height: 32px;
        background-image: url(../img/logo-on-white.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .copyright-text {
        display: inline-block;
        vertical-align: middle;
        margin-left: $gutter/3;

        @media #{$medium-up} {
            margin-left: $gutter;
        }
    }
}
