.main-header {
    @include clear;
    background-repeat: no-repeat;
    background-size: cover;

    .the-box {
        margin: $distance/2 0;

        @media #{$medium-up} {
            width: calc(70% + #{$distance});
            margin: $distance*2 0;
            margin-left: (-$distance);
        }

        @media #{$large-up} {
            width: calc(50% + #{$distance} + #{$distance/2});
            margin: $distance*3 0;
        }

        @media #{$xlarge-up} {
            margin: $distance*4 0;
        }

        p {
            font-weight: 400;

            @media #{$medium-up} {
                font-size: 24px;
            }
        }

        .btn {
            clear: both;

            @media #{$medium-up} {
                float: left;
                clear: none;
            }
        }

        .more {

            @media #{$medium-up} {
                float: right;
            }
        }
    }
}
