.page-wrapper {
    padding-right: $gutter/2;
    padding-left: $gutter/2;

    @media #{$medium-up} {
        padding-right: $gutter;
        padding-left: $gutter;
    }

    @media #{$xlarge-up} {
        max-width: 1100px;
        margin: 0 auto;
        padding-right: 0;
        padding-left: 0;
    }
}
